<h1>Welcome to the Users List</h1>

<div>
	<p>There are <%= @users.length %> signed up for our app!</p>
</div>

<form action="../libraries">
    <input type="submit" value="View All Libraries">
</form>